{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %}
    {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }}
{% endblock %}
{% set option =  'Resultados de la búsqueda'  %}


{% block col3 %}
    <div class="ym-grid">
        <div class="ym-gbox"><br />
            {% if pager.getResults|length == 0   %}
                <h1>No se encontraron resultados en la búsqueda</h1>
            {% else %}
                <h1>{{ total }} resultados de la búsqueda</h1>
            {% endif %}


            <br><br>

            {% set i = 1 + (( page - 1) * limit) %}

            {% for item in pager.getResults %}

                {% include 'CcmSrbBundle:Search:referenceDetails.html.twig' %}

                {% set i = i + 1 %}

            {% endfor %}

            {% if pager.isPaginable %}
                {{ paginate(pager, 'search', {'q': app.request.query.all['q']}) }}
            {% endif %}

            {#  app.request.host #}
            {# app.request.query.all['q'] #}

        </div>
    </div>
{% endblock %}

{% block menuL %}

    <ul class="record_actions">
        <li> <a href='javascript:history.back(1)'>Regresar </a> </li>
    </ul>


{% endblock %}
