{% extends 'CcmSrbBundle::layout.html.twig' %}

{% block menu %} {{ knp_menu_render('CcmSrbBundle:Builder:mainMenu') }} {% endblock %}

{% set option = 'Referencias de ' ~ name %}

{% block col3 %}
<div class="ym-gbox-right">
<h1>Referencias de {{ name }}</h1><br>

{% for item in publications %}

    {% include 'CcmSrbBundle:Search:referenceDetails.html.twig' %}

{% endfor %}


</div>
<!-- gbox-right -->

{% endblock %}

{% block menuL %}

<ul class="record_actions">
    <li>
        <a href="{{ path('author') }}">
           Lista de autores
        </a>
    </li>

{# ¿Se tienen privilegios para borrar el autor? #}

{% endblock %}
