{% extends 'CcmSrbBundle::layout.html.twig' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <div style="padding:5px 0;">
        <b>Usuario</b><br>
        <input type="text" id="username" name="_username" style="width: 40%" /><br>
    </div>

    <div style="padding:5px 0;">
        <b>Contraseña</b><br>
        <input type="password" id="password" name="_password" style="width: 40%" /><br>
    </div>



    {% if error %}
        <div style="color: red;">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}

    <button type="submit" class="ym-button ym-next">Login</button>    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>